body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #2f4f4f;
}
form {
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  margin: 40px auto;
}

from button,
form h5 {
  margin: 20px 0;
}
